<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pl.edu.mimuw.students.pl249278.android.musicinput"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <!-- required for exporting .midi files -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	 <uses-permission android:name="android.permission.VIBRATE"/>
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".test.TestEditActivity"
                  android:label="TEST edit score">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".test.TestPlayActivity"
                  android:label="Test play">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="pl.edu.mimuw.students.pl249278.android.musicinput.MainActivity"
			android:label="MusicInput">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name="pl.edu.mimuw.students.pl249278.android.musicinput.NewScoreActivity"
			android:label="@string/NEWSCORE_title"
			android:theme="@android:style/Theme.NoTitleBar"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".VisualPreferencesActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
        />
        
        <activity android:name=".EditActivity"
			android:theme="@android:style/Theme.NoTitleBar"
		/>
        
        <activity android:name=".PlayActivity" />
        
        <service android:name=".services.ContentService" android:exported="false" />
        
        <service android:name=".services.WorkerService" android:exported="false" />
        
        <receiver android:name=".services.AsyncServiceToastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="pl.edu.mimuw.students.pl249278.android.musicinput.TOAST" />
            </intent-filter>
        </receiver>
    </application>
</manifest>